.profile__ul li a {
  width: 35%;
  min-width: 100px;
  border-radius: 4px;
  border: 1px solid var(--color-brand-2);
  background-color: var(--color-brand-2);
  color: var(--color-grey-7);
  padding: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.profile__ul li a:hover {
  background-color: var(--color-brand-1);
}
